/*! Knopf v0.0.0 | MIT License | https://knopf.dev/ */

:root {
  /* ==========================================================================
     Colors
     ========================================================================== */

  /* Primary */
  --knpf-primary-color-hue: 218;
  --knpf-primary-color-saturation: 77%;
  --knpf-primary-color-luminosity: 37%;

  /* Secondary */
  --knpf-secondary-color-hue: 209;
  --knpf-secondary-color-saturation: 34%;
  --knpf-secondary-color-luminosity: 30%;

  /* Positive */
  --knpf-positive-color-hue: 164;
  --knpf-positive-color-saturation: 88%;
  --knpf-positive-color-luminosity: 28%;

  /* Negative */
  --knpf-negative-color-hue: 356;
  --knpf-negative-color-saturation: 57%;
  --knpf-negative-color-luminosity: 51%;

  /* Initial */
  --knpf-color-hue: var(--knpf-primary-color-hue);
  --knpf-color-saturation: var(--knpf-primary-color-saturation);
  --knpf-color-luminosity: var(--knpf-primary-color-luminosity);

  /* ==========================================================================
     Sizes
     ========================================================================== */

  /* Font */
  --knpf-font-size-base: 1rem;
  --knpf-font-size-tiny: calc(var(--knpf-font-size-base) - 0.4rem);
  --knpf-font-size-small: calc(var(--knpf-font-size-base) - 0.25rem);
  --knpf-font-size-large: calc(var(--knpf-font-size-base) + 0.2rem);
  --knpf-font-size-huge: calc(var(--knpf-font-size-base) + 0.5rem);

  /* Padding */
  --knpf-padding-base: 0.375rem;
  --knpf-padding-tiny: calc(var(--knpf-padding-base) - 0.25rem);
  --knpf-padding-small: calc(var(--knpf-padding-base) - 0.125rem);
  --knpf-padding-large: calc(var(--knpf-padding-base) + 0.125rem);
  --knpf-padding-huge: calc(var(--knpf-padding-base) + 0.375rem);

  /* Icon */
  --knpf-icon-size-base: 1.125rem;
  --knpf-icon-size-tiny: calc(var(--knpf-icon-size-base) - 0.5rem);
  --knpf-icon-size-small: calc(var(--knpf-icon-size-base) - 0.25rem);
  --knpf-icon-size-large: calc(var(--knpf-icon-size-base) + 0.375rem);
  --knpf-icon-size-huge: calc(var(--knpf-icon-size-base) + 0.625rem);
  --knpf-icon-size-massive: calc(var(--knpf-icon-size-base) + 1.125rem);

  /* ==========================================================================
     Initial
     ========================================================================== */

  /* Size */
  --knpf-font-size: var(--knpf-font-size-base);
  --knpf-padding: var(--knpf-padding-base);
  --knpf-icon-size: var(--knpf-icon-size-base);

  /* Border */
  --knpf-border-radius: 4px;
  --knpf-border-style: solid;
  --knpf-border-width: 1px;

  /* Text */
  --knpf-font-family: inherit;
  --knpf-font-weight: 500;
  --knpf-line-height: 1.5;
  --knpf-justify-content: center;
  --knpf-text-transform: none;

  /* Misc */
  --knpf-group-spacing: -1px;
  --knpf-transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    color 0.15s ease-in-out,
    opacity 0.15s ease-in-out;
}

/* ==========================================================================
   Class
   ========================================================================== */

.knpf {
  /* Colors */
  --knpf-color: var(--knpf-color-hue), var(--knpf-color-saturation), var(--knpf-color-luminosity);
  --knpf-hover-color: var(--knpf-color-hue), var(--knpf-color-saturation), calc(var(--knpf-color-luminosity) - 10%);
  --knpf-active-color: var(--knpf-color-hue), var(--knpf-color-saturation), calc(var(--knpf-color-luminosity) - 15%);

  /* Default */
  --knpf-background-color: hsl(var(--knpf-color));
  --knpf-border-color: transparent;
  --knpf-text-color: white;

  /* Hover */
  --knpf-hover-background: hsl(var(--knpf-hover-color));
  --knpf-hover-border-color: transparent;
  --knpf-hover-text-color: white;

  /* Active */
  --knpf-active-background: hsl(var(--knpf-active-color));
  --knpf-active-border-color: transparent;
  --knpf-active-text-color: white;

  /* Spacing */
  --knpf-vertical-padding: var(--knpf-padding);
  --knpf-horizontal-padding: calc(var(--knpf-padding) * 2);

  /* Properties */
  align-items: center;
  background-color: var(--knpf-background-color);
  border: var(--knpf-border-width) var(--knpf-border-style) var(--knpf-border-color);
  border-radius: var(--knpf-border-radius);
  box-sizing: border-box;
  color: var(--knpf-text-color);
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-family: var(--knpf-font-family);
  font-size: var(--knpf-font-size);
  font-weight: var(--knpf-font-weight);
  line-height: var(--knpf-line-height);
  justify-content: var(--knpf-justify-content);
  padding: var(--knpf-vertical-padding) var(--knpf-horizontal-padding);
  position: relative;
  text-decoration: none;
  text-transform: var(--knpf-text-transform);
  transition: var(--knpf-transition);
  white-space: nowrap;
}

/* ==========================================================================
   States
   ========================================================================== */

.knpf:visited {
  color: var(--knpf-text-color);
}

/* Disabled */
.knpf:disabled,
.knpf--disabled {
  cursor: default;
  opacity: 0.4;
  pointer-events: none;
}

/* Focus */
.knpf:not(:disabled):not(.knpf--disabled):focus {
  box-shadow: 0 0 0 3px hsla(var(--knpf-color), 0.4);
  outline: none;
  z-index: 1;
}

/* Active */
.knpf:not(:disabled):not(.knpf--disabled).knpf--active {
  --knpf-background-color: var(--knpf-active-background);
  --knpf-border-color: var(--knpf-active-border-color);
  --knpf-text-color: var(--knpf-active-text-color);
}

/* Hover */
.knpf:not(:disabled):not(.knpf--disabled):hover,
.knpf:not(:disabled):not(.knpf--disabled):active {
  --knpf-background-color: var(--knpf-hover-background);
  --knpf-border-color: var(--knpf-hover-border-color);
  --knpf-text-color: var(--knpf-hover-text-color);

  text-decoration: none;
}

/* ==========================================================================
   Sizes
   ========================================================================== */

.knpf--tiny {
  --knpf-font-size: var(--knpf-font-size-tiny);
  --knpf-padding: var(--knpf-padding-tiny);
  --knpf-icon-size: var(--knpf-icon-size-tiny);
}

.knpf--small {
  --knpf-font-size: var(--knpf-font-size-small);
  --knpf-padding: var(--knpf-padding-small);
  --knpf-icon-size: var(--knpf-icon-size-small);
}

.knpf--large {
  --knpf-font-size: var(--knpf-font-size-large);
  --knpf-padding: var(--knpf-padding-large);
  --knpf-icon-size: var(--knpf-icon-size-large);
}

.knpf--huge {
  --knpf-font-size: var(--knpf-font-size-huge);
  --knpf-padding: var(--knpf-padding-huge);
  --knpf-icon-size: var(--knpf-icon-size-huge);
}

.knpf--block {
  display: flex;
  width: 100%;
}

/* ==========================================================================
   Types
   ========================================================================== */

.knpf--inverse {
  /* base */
  --knpf-background-color: white;
  --knpf-text-color: hsl(var(--knpf-color));

  /* hover */
  --knpf-hover-background: hsl(var(--knpf-color));
  --knpf-hover-text-color: white;

  /* active */
  --knpf-active-background: hsl(var(--knpf-active-color));
  --knpf-active-text-color: white;
}

.knpf--flat {
  /* base */
  --knpf-background-color: transparent;
  --knpf-text-color: hsl(var(--knpf-color));

  /* hover */
  --knpf-hover-background: hsla(var(--knpf-color), 0.15);
  --knpf-hover-text-color: hsl(var(--knpf-hover-color));

  /* active */
  --knpf-active-background: hsla(var(--knpf-color), 0.25);
  --knpf-active-text-color: hsl(var(--knpf-active-color));
}

.knpf--pale {
  /* base */
  --knpf-background-color: hsla(var(--knpf-color), 0.1);
  --knpf-text-color: hsl(var(--knpf-color));

  /* hover */
  --knpf-hover-background: hsla(var(--knpf-color), 0.2);
  --knpf-hover-text-color: hsl(var(--knpf-hover-color));

  /* active */
  --knpf-active-background: hsla(var(--knpf-color), 0.3);
  --knpf-active-text-color: hsl(var(--knpf-active-color));
}

/* ==========================================================================
   Modifiers
   ========================================================================== */

.knpf--outline {
  --knpf-border-color: hsl(var(--knpf-color));
  --knpf-hover-border-color: hsl(var(--knpf-color));
  --knpf-active-border-color: hsl(var(--knpf-color));
}

.knpf--even {
  --knpf-horizontal-padding: var(--knpf-padding);
}

/* ==========================================================================
   Corners
   ========================================================================== */

.knpf--pill {
  --knpf-border-radius: 9999px;
}

.knpf--sharp {
  --knpf-border-radius: 0;
}

/* ==========================================================================
   Colors
   ========================================================================== */

.knpf--secondary {
  --knpf-color-hue: var(--knpf-secondary-color-hue);
  --knpf-color-saturation: var(--knpf-secondary-color-saturation);
  --knpf-color-luminosity: var(--knpf-secondary-color-luminosity);
}

.knpf--positive {
  --knpf-color-hue: var(--knpf-positive-color-hue);
  --knpf-color-saturation: var(--knpf-positive-color-saturation);
  --knpf-color-luminosity: var(--knpf-positive-color-luminosity);
}

.knpf--negative {
  --knpf-color-hue: var(--knpf-negative-color-hue);
  --knpf-color-saturation: var(--knpf-negative-color-saturation);
  --knpf-color-luminosity: var(--knpf-negative-color-luminosity);
}

/* ==========================================================================
   Icon
   ========================================================================== */

.knpf_icon {
  align-items: center;
  color: inherit;
  display: inline-flex;
  fill: currentColor;
  flex-shrink: 0;
  font-size: var(--knpf-icon-size);
  height: var(--knpf-icon-size);
  justify-content: center;
  width: var(--knpf-icon-size);
}

.knpf_icon:first-child:not(:only-child):not(.knpf_icon--floating) {
  margin-left: calc(var(--knpf-horizontal-padding) * -0.25);
  margin-right: calc(var(--knpf-horizontal-padding) * 0.5);
}

.knpf_icon:last-child:not(:only-child):not(.knpf_icon--floating) {
  margin-left: calc(var(--knpf-horizontal-padding) * 0.5);
  margin-right: calc(var(--knpf-horizontal-padding) * -0.25);
}

.knpf_icon--floating {
  left: var(--knpf-horizontal-padding);
  position: absolute;
}

/* ==========================================================================
   Icon Sizes
   ========================================================================== */

.knpf_icon--tiny {
  --knpf-icon-size: var(--knpf-icon-size-tiny);
}

.knpf_icon--small {
  --knpf-icon-size: var(--knpf-icon-size-small);
}

.knpf_icon--base {
  --knpf-icon-size: var(--knpf-icon-size-base);
}

.knpf_icon--large {
  --knpf-icon-size: var(--knpf-icon-size-large);
}

.knpf_icon--huge {
  --knpf-icon-size: var(--knpf-icon-size-huge);
}

.knpf_icon--massive {
  --knpf-icon-size: var(--knpf-icon-size-massive);
}

/* ==========================================================================
   Group
   ========================================================================== */

.knpf_group {
  border-radius: var(--knpf-border-radius);
  display: inline-flex;
  position: relative;
}

.knpf_group--spaced {
  --knpf-group-spacing: var(--knpf-padding);

  padding: var(--knpf-group-spacing);
}

.knpf_group--sharp {
  --knpf-border-radius: 0;
}

.knpf_group:not(.knpf_group--spaced) > .knpf:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.knpf_group:not(.knpf_group--spaced) > .knpf:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.knpf_group:not(.knpf_group--spaced) > .knpf:not(:first-child):not(:last-child) {
  --knpf-border-radius: 0;
}

.knpf_group > .knpf + .knpf {
  margin-left: var(--knpf-group-spacing);
}
