/*! Knopf v1.0.0 | MIT License | https://knopf.dev/ */

:root {
  /* ==========================================================================
     Color
     ========================================================================== */

  --knpf-color-hue: 218;
  --knpf-color-saturation: 77%;
  --knpf-color-luminosity: 37%;

  /* ==========================================================================
     Sizes
     ========================================================================== */

  /* Font */
  --knpf-font-size-base: 1rem;
  --knpf-font-size-small: calc(var(--knpf-font-size-base) - 0.25rem);
  --knpf-font-size-large: calc(var(--knpf-font-size-base) + 0.2rem);
  --knpf-font-size-huge: calc(var(--knpf-font-size-base) + 0.5rem);

  /* Padding */
  --knpf-padding-base: 0.375rem;
  --knpf-padding-small: calc(var(--knpf-padding-base) - 0.125rem);
  --knpf-padding-large: calc(var(--knpf-padding-base) + 0.125rem);
  --knpf-padding-huge: calc(var(--knpf-padding-base) + 0.375rem);

  /* Icon */
  --knpf-icon-size-base: 1.125rem;
  --knpf-icon-size-small: calc(var(--knpf-icon-size-base) - 0.25rem);
  --knpf-icon-size-large: calc(var(--knpf-icon-size-base) + 0.375rem);
  --knpf-icon-size-huge: calc(var(--knpf-icon-size-base) + 0.625rem);
  --knpf-icon-size-massive: calc(var(--knpf-icon-size-base) + 1.125rem);

  /* ==========================================================================
     Initial
     ========================================================================== */

  /* Size */
  --knpf-font-size: var(--knpf-font-size-base);
  --knpf-padding: var(--knpf-padding-base);
  --knpf-icon-size: var(--knpf-icon-size-base);

  /* Border */
  --knpf-border-radius: 6px;
  --knpf-border-style: solid;
  --knpf-border-width: 1px;

  /* Text */
  --knpf-font-family: inherit;
  --knpf-font-weight: 500;
  --knpf-line-height: 1.5;
  --knpf-justify-content: center;
  --knpf-text-transform: none;

  /* Flex */
  --knpf-display: inline-flex;
  --knpf-flex-direction: row;
  --knpf-flex-grow: 0;

  /* Group */
  --knpf-group-direction: row;
  --knpf-group-spacing: -1px;

  /* Misc */
  --knpf-transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    color 0.15s ease-in-out,
    opacity 0.15s ease-in-out;
}

/* ==========================================================================
   Class
   ========================================================================== */

.knpf {
  /* Colors */
  --knpf-color: var(--knpf-color-hue), var(--knpf-color-saturation), var(--knpf-color-luminosity);
  --knpf-hover-color: var(--knpf-color-hue), var(--knpf-color-saturation), calc(var(--knpf-color-luminosity) - 10%);
  --knpf-active-color: var(--knpf-color-hue), var(--knpf-color-saturation), calc(var(--knpf-color-luminosity) - 15%);

  /* Default */
  --knpf-background-color: hsl(var(--knpf-color));
  --knpf-border-color: transparent;
  --knpf-text-color: white;

  /* Hover */
  --knpf-hover-background-color: hsl(var(--knpf-hover-color));
  --knpf-hover-border-color: transparent;
  --knpf-hover-text-color: white;

  /* Active */
  --knpf-active-background-color: hsl(var(--knpf-active-color));
  --knpf-active-border-color: transparent;
  --knpf-active-text-color: white;

  /* Spacing */
  --knpf-vertical-padding: var(--knpf-padding);
  --knpf-horizontal-padding: calc(var(--knpf-padding) * 2);

  /* Properties */
  align-items: center;
  background-color: var(--knpf-background-color);
  border: var(--knpf-border-width) var(--knpf-border-style) var(--knpf-border-color);
  border-radius: var(--knpf-border-radius);
  box-sizing: border-box;
  color: var(--knpf-text-color);
  cursor: pointer;
  display: var(--knpf-display);
  flex-direction: var(--knpf-flex-direction);
  flex-grow: var(--knpf-flex-grow);
  font-family: var(--knpf-font-family);
  font-size: var(--knpf-font-size);
  font-weight: var(--knpf-font-weight);
  line-height: var(--knpf-line-height);
  justify-content: var(--knpf-justify-content);
  padding: var(--knpf-vertical-padding) var(--knpf-horizontal-padding);
  position: relative;
  text-decoration: none;
  text-transform: var(--knpf-text-transform);
  transition: var(--knpf-transition);
  white-space: nowrap;
}

/* ==========================================================================
   States
   ========================================================================== */

/* Disabled */
.knpf:disabled {
  cursor: default;
  opacity: 0.4;
  pointer-events: none;
}

/* Visited */
.knpf:visited {
  color: var(--knpf-text-color);
}

/* Hover */
.knpf:hover,
.knpf:active {
  --knpf-background-color: var(--knpf-hover-background-color);
  --knpf-border-color: var(--knpf-hover-border-color);
  --knpf-text-color: var(--knpf-hover-text-color);
}

/* Focus */
.knpf:focus {
  box-shadow: 0 0 0 3px hsla(var(--knpf-color), 0.4);
  outline: none;
}

/* Active */
.active {
  --knpf-background-color: var(--knpf-active-background-color);
  --knpf-border-color: var(--knpf-active-border-color);
  --knpf-text-color: var(--knpf-active-text-color);
}

/* ==========================================================================
   Sizes
   ========================================================================== */

.small {
  --knpf-font-size: var(--knpf-font-size-small);
  --knpf-padding: var(--knpf-padding-small);
  --knpf-icon-size: var(--knpf-icon-size-small);
}

.large {
  --knpf-font-size: var(--knpf-font-size-large);
  --knpf-padding: var(--knpf-padding-large);
  --knpf-icon-size: var(--knpf-icon-size-large);
}

.huge {
  --knpf-font-size: var(--knpf-font-size-huge);
  --knpf-padding: var(--knpf-padding-huge);
  --knpf-icon-size: var(--knpf-icon-size-huge);
}

.block {
  --knpf-display: flex;
  --knpf-flex-grow: 1;
}

/* ==========================================================================
   Types
   ========================================================================== */

.flat {
  /* base */
  --knpf-background-color: transparent;
  --knpf-text-color: hsl(var(--knpf-color));

  /* hover */
  --knpf-hover-background-color: hsla(var(--knpf-color), 0.15);
  --knpf-hover-text-color: hsl(var(--knpf-hover-color));

  /* active */
  --knpf-active-background-color: hsla(var(--knpf-color), 0.25);
  --knpf-active-text-color: hsl(var(--knpf-active-color));
}

.pale {
  /* base */
  --knpf-background-color: hsla(var(--knpf-color), 0.1);
  --knpf-text-color: hsl(var(--knpf-color));

  /* hover */
  --knpf-hover-background-color: hsla(var(--knpf-color), 0.2);
  --knpf-hover-text-color: hsl(var(--knpf-hover-color));

  /* active */
  --knpf-active-background-color: hsla(var(--knpf-color), 0.3);
  --knpf-active-text-color: hsl(var(--knpf-active-color));
}

.link {
  --knpf-border-width: 0;
  --knpf-border-radius: 0;
  --knpf-padding: 0;

  /* base */
  --knpf-background-color: transparent;
  --knpf-border-color: transparent;
  --knpf-text-color: hsl(var(--knpf-color));

  /* hover */
  --knpf-hover-background-color: transparent;
  --knpf-hover-border-color: transparent;
  --knpf-hover-text-color: hsl(var(--knpf-hover-color));

  /* active */
  --knpf-active-background-color: transparent;
  --knpf-active-border-color: transparent;
  --knpf-active-text-color: hsl(var(--knpf-active-color));
}

/* ==========================================================================
   Modifiers
   ========================================================================== */

.outline {
  --knpf-border-color: hsla(var(--knpf-color), 0.25);
  --knpf-hover-border-color: hsla(var(--knpf-color), 0.25);
  --knpf-active-border-color: hsla(var(--knpf-color), 0.25);
}

/* ==========================================================================
   Spaces
   ========================================================================== */

.even {
  --knpf-horizontal-padding: var(--knpf-padding);
}

.wide {
  --knpf-horizontal-padding: calc(var(--knpf-padding) * 3);
}

/* ==========================================================================
   Corners
   ========================================================================== */

.pill {
  --knpf-border-radius: 9999px;
}

.sharp {
  --knpf-border-radius: 0;
}

/* ==========================================================================
   Icon
   ========================================================================== */

.knpf_icon {
  align-items: center;
  color: inherit;
  display: inline-flex;
  fill: currentColor;
  flex-shrink: 0;
  font-size: var(--knpf-icon-size);
  height: var(--knpf-icon-size);
  justify-content: center;
  width: var(--knpf-icon-size);
}

.knpf_icon:first-child:not(:only-child) {
  margin-inline-start: calc(var(--knpf-horizontal-padding) * -0.25);
  margin-inline-end: calc(var(--knpf-horizontal-padding) * 0.5);
}

.knpf_icon:last-child:not(:only-child) {
  margin-inline-start: calc(var(--knpf-horizontal-padding) * 0.5);
  margin-inline-end: calc(var(--knpf-horizontal-padding) * -0.25);
}

/* Prevent floating icons on small screens */
@media screen and (min-width: 576px) {
  .knpf_icon--floating:not(:only-child) {
    margin-inline-start: 0;
    margin-inline-end: 0;
    position: absolute;
  }

  .knpf_icon--floating:first-child:not(:only-child) {
    left: var(--knpf-horizontal-padding);
  }

  .knpf_icon--floating:last-child:not(:only-child) {
    right: var(--knpf-horizontal-padding);
  }
}

/* ==========================================================================
   Icon Sizes
   ========================================================================== */

.knpf_icon--small {
  --knpf-icon-size: var(--knpf-icon-size-small);
}

.knpf_icon--base {
  --knpf-icon-size: var(--knpf-icon-size-base);
}

.knpf_icon--large {
  --knpf-icon-size: var(--knpf-icon-size-large);
}

.knpf_icon--huge {
  --knpf-icon-size: var(--knpf-icon-size-huge);
}

.knpf_icon--massive {
  --knpf-icon-size: var(--knpf-icon-size-massive);
}

/* ==========================================================================
   Groups
   ========================================================================== */

.knpf_group {
  display: flex;
  flex-direction: var(--knpf-group-direction);
  flex-wrap: nowrap;
}

.vertical {
  --knpf-group-direction: column;
}

.spaced {
  --knpf-group-spacing: var(--knpf-padding);
}

.vertical:not(.spaced) > .knpf:first-child:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vertical:not(.spaced) > .knpf:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.knpf_group:not(.spaced):not(.vertical) > .knpf:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.knpf_group:not(.spaced):not(.vertical) > .knpf:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.knpf_group:not(.spaced) > .knpf:not(:first-child):not(:last-child) {
  --knpf-border-radius: 0;
}

.vertical > .knpf + .knpf {
  margin-top: var(--knpf-group-spacing);
}

.knpf_group:not(.vertical) > .knpf + .knpf {
  margin-left: var(--knpf-group-spacing);
}
